In [2]:
import pandas as pd
import numpy as np

#### Load data

In [3]:
fake_job = pd.read_csv('../data/fake_job.csv')
fake_job = fake_job[fake_job['department'].isna() == False]

In [4]:
fake_job['department'].value_counts()

Sales                                          551
Engineering                                    487
Marketing                                      401
Operations                                     270
IT                                             225
                                              ...
Commercial Management / Contract Management      1
Exec                                             1
Marcomm                                          1
CRM                                              1
Hospitality                                      1
Name: department, Length: 1337, dtype: int64

In [13]:
job = dict()
job['ny'] = pd.read_csv('../data/job_ny.csv')
job['wa'] = pd.read_csv('../data/job_wa.csv')
job['tx'] = pd.read_csv('../data/job_tx.csv')
job['sf'] = pd.read_csv('../data/job_sf.csv')

jobs = []
for item in job:
    jobs.append(job[item])
jobs = pd.concat(jobs)
jobs = jobs[jobs['Industry'].isna() == False]

In [15]:
jobs['Industry'].value_counts()

Information Technology                679
Business Services                     583
Biotech & Pharmaceuticals             317
Health Care                           232
Finance                               223
Aerospace & Defense                   144
Government                            105
Construction, Repair & Maintenance     66
Retail                                 63
Education                              60
Manufacturing                          42
Telecommunications                     35
Insurance                              29
Accounting & Legal                     29
Media                                  29
Oil, Gas, Energy & Utilities           28
Non-Profit                             10
Transportation & Logistics              8
Consumer Services                       7
Real Estate                             5
Restaurants, Bars & Food Services       3
Arts, Entertainment & Recreation        2
Agriculture & Forestry                  1
Name: Industry, dtype: int64

In [19]:
resume = pd.read_csv('../data/resume.csv')
resume['Category'].value_counts()

Engineering                121
Information Technology     104
Education                  102
Health & Fitness            77
Managment                   74
Accountant                  67
Finance                     66
Advocate                    61
Sales                       61
Digital Media               54
Designing                   51
Banking                     48
Business Development        44
Arts                        43
HR                          41
Building & Construction     29
Automobile                  27
Consultant                  26
BPO                         25
Agricultural                24
Food & Beverages            22
Apparel                     14
Public Relations            13
Aviation                    13
Architects                  12
Name: Category, dtype: int64

#### Mapping

In [68]:
threshold = 50
a = fake_job['department'].value_counts()
a = a[a > threshold]
b = jobs['Industry'].value_counts()
b = b[b > threshold]
c = resume['Category'].value_counts()
c = c[c > threshold]

In [103]:
fake_job[fake_job['department'] == 'Finance']['title']

225                                    Settlements Analyst
291                                   Financial Accountant
417      PM with BA/Developer experience in SmartStream...
757                               Accounts Payable Manager
996            Financial Analyst / Intermediate Accountant
                               ...
15907                       Fraud and Card Payment Manager
16005                  Finance Assistant Temp to Perm Role
16076                                   Accounting Manager
16177                                           Controller
17488                                Management Accountant
Name: title, Length: 69, dtype: object

In [99]:
resume[resume['Category'] == 'Sales']

      ID Category                                             Resume
603  604    Sales  b'Auctioneer Resume Template\nAuctioneer Resum...
604  605    Sales  b'Computer Sales Resume Template\n\nDave Bunti...
605  606    Sales  b'Retail Sales Manager Resume Template\n\nJoye...
606  607    Sales  b"Sales Associate Supervisor Resume\nRichard A...
607  608    Sales  b'Sales Representative Resume Template\n\nTani...
..   ...      ...                                                ...
659  660    Sales  b'Purchasing Agent Resume Template\n\nAudrey B...
660  661    Sales  b'999 Main Street\nAny Town, NY 99999\nHome Ph...
661  662    Sales  b'SAMPLE RESUME FOR A\nRETAIL SALES ASSOCIATE ...
662  663    Sales  b'AJIT KUMAR\n\xef\x80\xa9: + 91-85271xxxxx\n\...
663  664    Sales  b'Sales Clerk Resume Template\n\nJoye Thompson...

[61 rows x 3 columns]

In [71]:
a

Sales                     551
Engineering               487
Marketing                 401
Operations                270
IT                        225
Development               146
Product                   112
Information Technology     86
Design                     76
Technology                 76
Customer Service           73
Finance                    69
HR                         56
tech                       55
R&D                        54
Name: department, dtype: int64

In [69]:
b

Information Technology                679
Business Services                     583
Biotech & Pharmaceuticals             317
Health Care                           232
Finance                               223
Aerospace & Defense                   144
Government                            105
Construction, Repair & Maintenance     66
Retail                                 63
Education                              60
Name: Industry, dtype: int64

In [70]:
c

Engineering               121
Information Technology    104
Education                 102
Health & Fitness           77
Managment                  74
Accountant                 67
Finance                    66
Advocate                   61
Sales                      61
Digital Media              54
Designing                  51
Name: Category, dtype: int64

In [108]:
category_map = dict()
SALE = 'sales'
ENGINEERING = 'engineering'
MARKETING = 'marketing'
OPEARTION = 'operation'
IT = 'it'
HEALTH = 'health'
RESEARCH = 'research'
CONSTRUCTION = 'construction'
EDUCATION = 'education'
CUSTOMER = 'customer'

In [111]:
category_map = dict.fromkeys(['sales', 'retail'], SALE)
category_map.update(dict.fromkeys(['engineering'], ENGINEERING))
category_map.update(dict.fromkeys(['operations'], OPEARTION))
category_map.update(dict.fromkeys(['it', 'development', 'product', 'information technology', 'design', 'technology', 'tech', 'designing'], IT))
category_map.update(dict.fromkeys(['customer service'], CUSTOMER))
category_map.update(dict.fromkeys(['r&d', 'business services', 'aerospace & defense', 'government'], RESEARCH))
category_map.update(dict.fromkeys(['health care', 'biotech & pharmaceuticals', 'health & fitness'], HEALTH))
category_map.update(dict.fromkeys(['construction, repair & maintenance'], CONSTRUCTION))
category_map.update(dict.fromkeys(['education'], EDUCATION))